$desktop-width: 1216px;
$padding-desktop: 100px;

$primary: #343030;
$secondary: #555555;
$background-primary: #f6f3f3;
$background-secondary: #eceaea;
$color-border: #e1e1e1;
$color-border-active: #b5b5b5;
$color-border-img: #e7e7e7;
$color-text-input: #9f9f9f;
$color-text-old-price: #a0a0a0;
$color-btn: #403432;
$color-btn-hover: #776763;
$color-btn-active: #5b3a32;
$color-btn-disabled: #c1b4b1;
$font-family: "Merriweather", "Georgia", serif;
$font-size: 14px;
$line-height: 21px;
$color-text: $primary;
$font-weight: 400;
